body {
	margin: 0;
}

#titulo {
	text-shadow: -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red;
	position: absolute;
	right: 10px;
	color: darkgray;
}

.bgbox {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	display: none;
}

.divbox {
	position: fixed;
	left: 50%;
	top: 50%;
	width: 400px;
	height: 300px;
	background-color: #FFF;
	margin-left: -270px;
	margin-top: -220px;
	padding: 20px;
	display: none;
}